<!-- wp:group -->
<div class="wp-block-group"><!-- wp:columns -->
    <div class="wp-block-columns"><!-- wp:column {"verticalAlignment":"top"} -->
    <div class="wp-block-column is-vertically-aligned-top"><!-- wp:heading {"level":3} -->
    <h3>Nantes Numérique Responsable</h3>
    <!-- /wp:heading -->
    
    <!-- wp:paragraph -->
    <p>Collectif nantais pour un numérique éthique, accessible, inclusif &amp; durable fondé en 2020.</p>
    <!-- /wp:paragraph -->
    
    <!-- wp:paragraph -->
    <p>Ce site est hébergé chez Infomaniak</p>
    <!-- /wp:paragraph --></div>
    <!-- /wp:column -->
    
    <!-- wp:column -->
    <div class="wp-block-column"><!-- wp:heading {"level":3} -->
    <h3>Notre Slack</h3>
    <!-- /wp:heading -->
    
    <!-- wp:paragraph -->
    <p>Faîtes partie de l'aventure NNR et bénéficiez de notre veille quotidienne</p>
    <!-- /wp:paragraph -->
    
    <!-- wp:buttons -->
    <div class="wp-block-buttons"><!-- wp:button -->
    <div class="wp-block-button"><a class="wp-block-button__link" href="https://join.slack.com/t/nantes-nr/shared_invite/zt-p1iabm77-TVHps9HkEtd6Pj~xCBfeOw" target="_blank" rel="noreferrer noopener">Rejoindre le Slack</a></div>
    <!-- /wp:button --></div>
    <!-- /wp:buttons --></div>
    <!-- /wp:column --></div>
    <!-- /wp:columns --></div>
    <!-- /wp:group -->