body,
button,
input,
select,
optgroup,
textarea {
	color: $color__text-main;
	font-family: $font__main;
	font-size: 1rem;
	line-height: $font__line-height-body;
}

@import "headings";
@import "copy";

p {
	font-family: $font__main;
	font-weight: 400;
}

ul {
	font-family: $font__secondary;
	font-weight: 700;
}

.wp-block-button {
	font-family: $font__secondary;
	font-weight: 500;
}
