.post-type-archive-ressource,
.tax-ressource-taxo {

	#deco_h1 {
		fill: var(--color__dark__primary);
		width: 10rem;
		height: 20px;

		@media screen and (max-width: $breakpoint__mobile) {
			display: none;
		}
	}

	.breadcrumb_container {
		font-family: $font__secondary;
		font-weight: 700;

		a {

			color: $color__black;
			background: linear-gradient(to bottom, var(--color__dark__primary) 0%, var(--color__dark__primary) 100%);
			background-position: -1px 100%;
			background-repeat: repeat-x;
			background-size: 0 4px;
			transition: all 0.2s ease-in-out;

			&:hover {
				background-size: 100% 40%;
			}
		}
	}

	.archive-title {
		display: flex;
		align-items: center;
		gap: 2rem;
		margin: 1rem 0 2rem 0;

		h1 {
			font-size: 4rem;
			margin: 0;

			@media screen and (max-width: $breakpoint__laptop) {
				font-size: 3rem;
			}
		}
	}

	.filters {

		.filters-toggle {
			display: none;
			position: relative;
			color: $color__black;
			font-family: $font__secondary;
			font-weight: 700;
			font-size: 1.5rem;
			width: fit-content;
			margin-bottom: 2rem;

			&::after {
				content: "⌃";
				position: absolute;
				bottom: -30%;
				right: -50%;
				transform: translateY(-50%) rotate(180deg);
			}

			@media screen and (max-width: $breakpoint__mobile) {
				display: block;
			}
		}

		.filters-toggle-active {
			display: flex !important;
		}

		.post-tags-filters {

			display: flex;
			flex-wrap: wrap;
			gap: 1.5rem;
			font-size: 1.5rem;
			font-family: $font__secondary;
			font-weight: 700;
			margin-bottom: 4rem;

			@media screen and (max-width: $breakpoint__mobile) {
				flex-direction: column;
				gap: 2rem;
				display: none;
				margin-bottom: 2rem;
			}

			a {
				text-decoration: none;
				margin: 0;
				color: $color__black;
				background: linear-gradient(to bottom, var(--color__dark__primary) 0%, var(--color__dark__primary) 100%);
				background-position: -1px 100%;
				background-repeat: repeat-x;
				background-size: 0 4px;
				transition: all 0.2s ease-in-out;
				position: relative;

				&:hover {
					background-size: 100% 40%;
				}

				&:first-child {
					padding-left: 0;
				}

				&:not(:last-child)::after {
					content: "";
					position: absolute;
					width: 2px;
					height: 100%;
					background-color: var(--color__dark__primary);
					right: -0.75rem;
				}
			}
		}
	}

	.ressource-postContainer {

		display: grid;
		grid-template-rows: auto auto;
		grid-template-columns: repeat(3, 1fr);
		grid-gap: 4rem;
		margin: 0;

		@media screen and (max-width: $breakpoint__laptop) {
			grid-template-columns: repeat(2, 1fr);
			grid-gap: 2rem;
		}

		@media screen and (max-width: $breakpoint__mobile) {
			grid-template-columns: 1fr;
			grid-gap: 2rem;
		}

		.ressource {
			background-image: url(./img/link.svg);
			background-position: top right;
			background-repeat: no-repeat;
			background-size: 32px;
			border-bottom: 3px solid $color__black;
			border-left: 3px solid $color__black;
			font-family: $font__secondary;
			font-weight: 700;
			padding: 1.5rem;
			margin: 0;
			position: relative;
			transition: all 0.3s ease-in-out;

			&::before {
				content: "";
				position: absolute;
				top: 0;
				left: 0;
				background-color: $color__black;
				width: 80%;
				height: 3px;
			}

			&::after {
				content: "";
				position: absolute;
				bottom: 0;
				right: 0;
				background-color: $color__black;
				width: 3px;
				height: 80%;
			}

			> * {
				margin: 0.75rem 0;
			}

			.post-thumbnail {

				img {
					max-width: 70px;
				}

			}

			.ressource-post-heading {

				h2 {
					margin: 0;
				}
			}

			.post-tags {

				a {
					text-decoration: none;
					color: $color__black;
					background: linear-gradient(to bottom, var(--color__dark__primary) 0%, var(--color__dark__primary) 100%);
					background-position: -1px 100%;
					background-repeat: repeat-x;
					background-size: 0 4px;
					transition: all 0.2s ease-in-out;
					margin-right: 0.5rem;

					&:hover {
						background-size: 100% 40%;
					}
				}
			}

			.ressource-post-date {
				color: gray;
			}

			.post-link {

				a {

					text-decoration: none;
					color: $color__black;
					background: linear-gradient(to bottom, var(--color__dark__primary) 0%, var(--color__dark__primary) 100%);
					background-position: -1px 100%;
					background-repeat: repeat-x;
					background-size: 0 4px;
					transition: all 0.2s ease-in-out;

					&:hover {
						background-size: 100% 40%;
					}
				}
			}
		}
	}

}
