body {
	background-color: (var(--color__bg));

	@media screen and (max-width: $breakpoint__mobile) {

		.wp-block-navigation__responsive-container-open {
			display: flex !important;
		}

		.wp-block-navigation__container {
			display: none;
		}
	}

	.wp-site-blocks {
		position: relative;
		overflow: hidden;

		> *:not(footer) {
			padding-left: 5%;
			padding-right: 5%;

		}

		.svg_deco {
			position: absolute;
			fill: var(--color__light__primary);
			z-index: -1;

			&#deco_n {
				top: 0;
				right: 0;
			}


			&#deco_r {
				left: 0;
				top: 40rem;
			}
		}
	}

	&.page {
		margin: 0;
	}
}
