button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
	border: 1px solid;
	border-color: $color__border-button;
	border-radius: 3px;
	background: $color__background-button;
	color: rgba(0, 0, 0, 0.8);
	line-height: 1;
	padding: 0.6em 1em 0.4em;

	&:hover {
		border-color: $color__border-button-hover;
	}

	&:active,
	&:focus {
		border-color: $color__border-button-focus;
	}
}

.wp-block-button {

	.wp-block-button__link {
		color: $color__black;
		background-color: var(--color__dark__primary);
		border: 2px solid var(--color__dark__primary);
		border-radius: 0.5rem;
		transition: all 0.2s ease-in-out;

		&:hover {
			background-color: var(--color__primary);
		}
	}
}
