.site-footer {
	background-color: var(--color__primary);
	padding: 4rem;
	margin-top: 4rem;

	@media screen and (max-width: $breakpoint__laptop) {
		padding: 2rem 5%;
	}

	.wp-block-columns {
		max-width: 1200px;
		margin-left: auto;
		margin-right: auto;
	}
}
