.site-header {
	color: $color__black;
	padding: 4rem 0;
	z-index: 999;
	margin-top: 0 !important;

	@media screen and (max-width: $breakpoint__laptop) {
		padding: 2rem 0;
	}

	.header-container {
		display: flex;
		justify-content: space-between;
		align-items: center;
		max-width: 1200px;
		margin-left: auto;
		margin-right: auto;
		padding: 0;

		.wp-block-navigation {
			gap: 6rem;

			@media screen and (max-width: $breakpoint__laptop) {
				gap: 4rem;
			}

			.wp-block-navigation__responsive-container-open {
				font-family: menu-icon;
				font-size: 1.2rem;
				margin-right: 7px;
			}

			.wp-block-navigation__responsive-container {

				@media screen and (max-width: $breakpoint__laptop) {
					background-color: var(--color__bg);
					padding-left: 5%;
					padding-right: 5%;
					padding-top: 4rem;

					.wp-block-navigation__responsive-container-content {
						padding-top: 2rem;
					}
				}
			}

			li {

				a {
					font-family: $font__secondary;
					font-weight: 400;
					font-size: 1.5rem;
					background: linear-gradient(to bottom, var(--color__dark__primary) 0%, var(--color__dark__primary) 100%);
					background-position: -1px 100%;
					background-repeat: repeat-x;
					background-size: 0 4px;
					transition: all 0.2s ease-in-out;

					&:hover {
						background-size: 100% 40%;
					}
				}

				&.current-menu-item {
					border-bottom: var(--color__dark__primary) 2px solid;
				}
			}
		}
	}
}
