<!-- wp:group {"className":"content"} -->
<div class="wp-block-group content"><!-- wp:acf/svg-raw-n {"id":"block_628dffdaa647a","name":"acf/svg-raw-n","align":"","mode":"preview"} /-->

    <!-- wp:acf/svg-raw-r {"id":"block_628dffdfa647b","name":"acf/svg-raw-r","align":"","mode":"preview"} /-->
    
    <!-- wp:template-part {"slug":"header","theme":"nnr","tagName":"header","align":"full","className":"site-header"} /--></div>
    <!-- /wp:group -->
    
    <!-- wp:group {"layout":{"inherit":true}} -->
    <div class="wp-block-group"><!-- wp:acf/archive-jobboard {"id":"block_62b971f3e1283","name":"acf/archive-jobboard","align":"","mode":"preview"} /--></div>
    <!-- /wp:group -->
    
    <!-- wp:template-part {"slug":"footer","theme":"nnr","tagName":"footer","align":"full","className":"site-footer"} /-->