<!-- wp:group {"align":"full"} -->
<div class="wp-block-group alignfull"><!-- wp:acf/svg-raw-n {"id":"block_628e0ba342856","name":"acf/svg-raw-n","align":"","mode":"preview"} /-->

	<!-- wp:acf/svg-raw-r {"id":"block_628e0ba442857","name":"acf/svg-raw-r","align":"","mode":"preview"} /-->
	
	<!-- wp:template-part {"slug":"header","theme":"nnr","tagName":"header","align":"full","className":"site-header"} /--></div>
	<!-- /wp:group -->
	
	<!-- wp:group {"tagName":"main","align":"full","className":"site-main","layout":{"inherit":true}} -->
	<main class="wp-block-group alignfull site-main"><!-- wp:acf/single-jobboard {"id":"block_62b9b5dd4f647","name":"acf/single-jobboard","data":{},"align":"","mode":"preview"} /--></main>
	<!-- /wp:group -->
	
	<!-- wp:template-part {"slug":"footer","theme":"nnr","tagName":"footer","align":"full","className":"site-footer"} /-->