<!-- wp:group {"align":"full"} -->
<div class="wp-block-group alignfull"><!-- wp:acf/svg-raw-n {"id":"block_628e0ba342856","name":"acf/svg-raw-n","align":"","mode":"preview"} /-->

    <!-- wp:acf/svg-raw-r {"id":"block_628e0ba442857","name":"acf/svg-raw-r","align":"","mode":"preview"} /-->
    
    <!-- wp:template-part {"slug":"header","theme":"nnr","tagName":"header","align":"full","className":"site-header"} /--></div>
    <!-- /wp:group -->
    
    <!-- wp:group {"layout":{"inherit":true}} -->
    <div class="wp-block-group"><!-- wp:acf/archive-jobboard {"id":"block_62b9b38f9b1a7","name":"acf/archive-jobboard","data":{},"align":"","mode":"preview"} /--></div>
    <!-- /wp:group -->
    
    <!-- wp:template-part {"slug":"footer","theme":"nnr","tagName":"footer","align":"full","className":"site-footer"} /-->