
.entry-content > *,
.entry-header > *,
aside > * {
	max-width: $aligndefault;
	margin-left: auto;
	margin-right: auto;
}

.alignwide {
	max-width: $alignwide;
	margin-left: auto;
	margin-right: auto;
}

.alignfull {
	max-width: $alignfull;
	margin-left: auto;
	margin-right: auto;
}

body {

	.entry-content {
		margin-top: 0;
	}

}
