// stylelint-disable value-keyword-case
$font__main: "Iowan Old Style", sans-serif;
$font__secondary: "Helvetica Neue", sans-serif;
// stylelint-enable value-keyword-case
$font__code: monaco, consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
$font__pre: "Courier 10 Pitch", courier, monospace;
$font__line-height-body: 1.5;
$font__line-height-pre: 1.6;

@font-face {
	font-family: menu-icon;
	src: local("Helvetica Neue"), url(/wp-content/themes/nnr-fse/fonts/icomoon.woff) format("woff");
	font-display: swap;
}
